/* DeleteByName.css */

.DeleteByName {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .DeleteByName p {
    margin-bottom: 10px;
  }
  
  .DeleteByName input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .DeleteByName button {
    width: 100%;
    padding: 10px;
    background-color: #f21818;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .DeleteByName button:hover {
    background-color: #145993;
  }
  
  .DeleteByName .error {
    color: #f00;
    margin-top: 10px;
  }
  
  .DeleteByName .info {
    color: #1877f2;
    margin-top: 10px;
  }
  